---
interface Props {
  anchor?: boolean;
  href?: string;
  className?: string;
}

const { anchor, href, className } = Astro.props;

---

{
  anchor
    ? (
      <a href={href} class={`flex items-center justify-center w-full h-full bg-blue-100 shadow-outline ${className || ''}`}>
        <slot />
      </a>
    )
    : (
      <button>
        <slot />
      </button>
    )
}
