---
type Options = {
  label: string;
  value: string;
}

interface Props {
  label: string;
  options: Options[];
  anchors?: boolean;
}

const { label, options, anchors } = Astro.props;

---

<div>
  <p class="flex items-center justify-center w-full h-full uppercase text-black text-md font-semibold outline outline-2 outline-black px-4">
    <span>{label}</span>
    <i class="ph:caret-down"></i>
  </p>
  <!-- <ul>
    {options.map((option) => (
      <li>
        {anchors ? (
          <a href={option.value}>
            {option.label}
          </a>
        ) : (
          <span>{option.label}</span>
        )}
      </li>
    ))}
  </ul> -->
</div>