---
import { SOCIAL_LINKS } from "../../constants/links";

---

<nav class="flex h-full">
  {
    SOCIAL_LINKS.map(({ icon, name, url }, index) => (
      <a
        href={url}
        class={`flex justify-center items-center h-14 w-14 aspect-square text-2xl text-black ${!!index ? 'shadow-outline' : ''}`}
        aria-label={name}
      >
        <i class={icon}></i>
      </a>
    ))
  }
</nav>