---
import Portrait from './portrait.astro';

import Button from "../shared/button.astro";
import SocialNetwork from "../shared/social-network.astro";

import { getI18N } from '../../i18n';
import { RESUME } from '../../constants/links';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale });

---

<section>  
  <div class="grid grid-cols-1 sm:grid-cols-[62%,1fr] gap-6 sm:gap-0 mt-6">

    <div class="relative order-2 sm:order-1 flex flex-col justify-around gap-6 sm:gap-0 min-h-96 text-center sm:text-left">
      <h2 class="order-1 py-2 text-4xl uppercase">
        <strong class="bg-brand dark:bg-brand-dark">
          {i18n.TITLES.FULLSTACK_DEV}
        </strong>
      </h2>
      <p class="order-3 sm:order-2 text-lg sm:text-2xl sm:mr-20">
        {i18n.DESCRIPTIONS.LITTLE_BIO}
      </p>
      
      <div class="order-2 sm:order-3 flex justify-center sm:justify-start gap-0 min-[360px]:gap-4 text-xl">
        <div>
          <Button
            className="h-full px-10 bg-brand dark:bg-brand-dark hover:bg-brand-light dark:hover:bg-brand-darklight"
            href={RESUME.url}
            anchor
          >
            <span class="uppercase font-bold text-lg pr-2">
              {i18n.MISC.RESUME}
            </span>
            <i class="ph:download-simple-bold"></i>
          </Button>
        </div>
        <div class="inline-block h-14 shadow-outline-no-left">
          <SocialNetwork />
        </div>
      </div>
    </div>

    <div class="order-1 sm:order-2 w-4/5 sm:w-full mx-auto sm:mx-0">
      <Portrait />
    </div>

  </div>

</section>
