<h1>
  Douglas Lovera
</h1>

<style>
  h1 {
    display: block;
    padding-right: 8px;
    margin: 2rem 0;
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    text-align: center;
    word-spacing: 30px;
    line-height: 1.2;
    font-size: 5.8rem;
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 4.8rem;
      letter-spacing: -0.05em;
    }
  }

  @media (max-width: 674px) {
    h1 {
      margin: 1.4rem 0;
      padding-right: 6px;
      font-size: 4.2rem;
      letter-spacing: -0.07em;
      word-spacing: 15px;
    }
  }

  @media (max-width: 574px) {
    h1 {
      margin: 1rem 0;
      padding-right: 6px;
      font-size: 3.6rem;
      letter-spacing: -0.07em;
      word-spacing: 10px;
    }
  }


  @media (max-width: 484px) {
    h1 {
      margin: 1rem 0;
      padding-right: 4px;
      font-size: 4rem;
      letter-spacing: -0.06em;
      word-spacing: 8px;
    }
  }

</style>