<h1>
  Douglas Lovera
</h1>

<style>
  /* TODO: adapt font-size to be full width always */
  h1 {
    display: block;
    padding-right: 8px;
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    text-align: left;
    word-spacing: 30px;
    font-size: 5.8rem;
  }
</style>