<!-- TODO: use random figure for background -->
<!-- TODO: add languages and libraries icon's floating (statically) around picture -->

<div class="bg-blue-50 rounded-full sm:rotate-3">
  <img
    src="/assets/douglas.webp"
    alt="Douglas Lovera smiling"
    >
    <!-- class="scale-110" <- TODO / FIX: it breaks the page border -->
</div>