---
// import PortraitIcons from './portrait-icons.astro'

---

<div class="relative bg-brand dark:bg-brand-dark rounded-full sm:rotate-3">
  <img
    src="/assets/douglas.webp"
    alt="Douglas Lovera smiling"
    class="relative z-20"
  >

  <!-- <PortraitIcons /> -->

</div>