
@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
       url("./iconfont.ttf") format("truetype"),
       url("./iconfont.woff") format("woff"),
       url("./iconfont.woff2") format("woff2"),
       url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

i {
  font-family: "Iconify Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


i.ph\:arrow-square-out:before {
content: "\e001";
}

i.ph\:arrow-square-out-bold:before {
content: "\e002";
}

i.ph\:caret-down:before {
content: "\e003";
}

i.ph\:code:before {
content: "\e004";
}

i.ph\:code-bold:before {
content: "\e005";
}

i.ph\:download-simple:before {
content: "\e006";
}

i.ph\:download-simple-bold:before {
content: "\e007";
}

i.ph\:github-logo:before {
content: "\e008";
}

i.ph\:github-logo-bold:before {
content: "\e009";
}

i.ph\:link:before {
content: "\e00a";
}

i.ph\:link-bold:before {
content: "\e00b";
}

i.ph\:linkedin-logo:before {
content: "\e00c";
}

i.ph\:linkedin-logo-bold:before {
content: "\e00d";
}

i.ph\:moon:before {
content: "\e00e";
}

i.ph\:suitcase-simple:before {
content: "\e00f";
}

i.ph\:suitcase-simple-bold:before {
content: "\e010";
}

i.ph\:sun-dim:before {
content: "\e011";
}

i.ph\:user:before {
content: "\e012";
}

i.ph\:user-bold:before {
content: "\e013";
}

i.ph\:user-check:before {
content: "\e014";
}

i.ph\:user-check-bold:before {
content: "\e015";
}

