.main__projects__item {
  position: relative;
  z-index: inherit;
  margin: 10px auto;
  padding: 20px 10px;
  width: 280px;
  min-height: 295px;
  height: auto;
  background-color: var(--dark-primary);
  border-radius: 8px;
  text-align: center;
  /* Shadow */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
}

.main__projects__item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
}

.main__projects__image {
  min-height: 150px;
  overflow: hidden;
}

.main__projects__image .main__projects__image-preview {
  width: 220px;
  height: auto;
  max-height: 145px;
  margin: auto 0;
  border-radius: 3px;
  background-color: #5a5a5a;
  transition: 0.3s ease;
}
.main__projects__item:hover .main__projects__image-preview {
  transform: scale(1.1);
}

.main__projects__body h5 {
  padding: 5px 0;
  max-height: 60px;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--dark-font);
  overflow: hidden;
  text-overflow: ellipsis;
}

.main__projects__body-languages img {
  width: 25px;
  margin: 0 7px;
}

.main__projects__body-link {
  position: absolute;
  bottom: 25px;
  left: calc(50% - 86px);
}

.main__projects__body-link a {
  margin: 0 5px;
  padding: 3px 10px;
  border-radius: 50px;
  border: 1px solid var(--dark-font);
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--dark-font);
}

.main__projects__body-link a span {
  margin: 0 5px 0 0;
}

.main__projects__body-link a:hover {
  color: var(--color-anchor);
  border-color: var(--color-anchor);
}

.main__projects__body-link a.dont-exists {
  color: var(--color-dont-exists);
  border-color: var(--color-dont-exists);
}

.main__projects__body-link a.dont-exists:hover {
  cursor: not-allowed;
  color: var(--color-dont-exists);
  border-color: var(--color-dont-exists);
}
