.main__skills {
  height: auto;
  min-width: 320px;
  max-width: 600px;
}

.main__skills__container {
  min-width: 100px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.skills {
  width: 95px;
  height: 35px;
  padding: 10px 0;
  margin: 5px;
  border-radius: 3px;
  background-color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
