---
import ContactSection from "../SocialMedia/ContactSection.astro";
---

<section class="main-card">
  <div class="main-card__picture">
    <img src="/assets/douglas.webp" alt="Douglas Lovera picture" />
  </div>

  <div class="main-card__content">
    <div class="main-card__content__text">
      <h1>Douglas Lovera</h1>
      <p>
        Front-end Developer with JavaScript&nbsp;💛. Love creating things and
        learning about technologies.
      </p>
    </div>

    <ContactSection />
  </div>
</section>

<style>
  .main-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    max-width: 672px;
    min-width: 300px;
    margin: 0 auto;
    /* color: #fff; */
    font-size: 1.6rem;
  }

  .main-card__picture img {
    height: 220px;
    aspect-ratio: 1;
    background: var(--bg-brand);
    border-radius: 14px;
    object-fit: cover;
    object-position: top;
  }

  .main-card__content {
    width: 30rem;
  }

  .main-card__content__text {
    margin-bottom: 2.6rem;
  }

  .main-card__content__text h1 {
    margin-bottom: 0.8rem;
    font-size: 2.8rem;
    font-weight: 800;
  }

  @media (max-width: 767px) {
    .main-card {
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 3.4rem;
    }
  }
</style>
