<section class="mt-20" id="about">
  <h3 class="flex items-center gap-2 mb-4 uppercase font-bold text-3xl">
    <i class="ph:user-check"></i>
    About
  </h3>

  <div class="flex flex-col md:flex-row items-center justify-center gap-8">

    <div class="order-2 md:order-1 text-base text-pretty [&>p]:mb-4">
      <p>
        👋 My name is <span class="bg-brand dark:bg-brand-dark font-semibold">Douglas Lovera</span>...
      </p>

      <p>
        I've been working professionally in programming since 2021,
        but my passion began when I was 14 years old, creating
        Discord bots and websites for my friends and myself.
      </p>

      <p>
        My motivation is to create products that creates value and
        keep up with the advancement of new technologies. I enjoy
        contributing to projects that improve people's lives.
      </p>
      
      <p>
        Regarding my personal and professional interests, I read books
        on various topics; my favorite author is Julio Ramón Ribeyro. I
        also like to attend cultural and tech events in my city. Professionally, I spend a
        significant part of my day integrating and improving features at work
        and developing my personal projects.
      </p>
      
    </div>

    <img
      src="/assets/douglas-bg.jpg"
      alt="Douglas Lovera smiling"
      loading="lazy"
      width="200"
      height="200"
      class="order-1 md:order-2 w-64 h-full object-cover bg-brand shadow-outline"
    >
  </div>
</section>
