<section class="mt-20" id="about">
  <h3 class="flex items-center gap-2 mb-4 uppercase font-bold text-3xl">
    <i class="ph:user-check"></i>
    About
  </h3>

  <div class="flex flex-col md:flex-row items-center justify-center gap-8">

    <div class="order-2 md:order-1 text-base text-pretty [&>p]:mb-4">
      <p>👋 My name is Douglas Lovera...</p>

      <p>
        I'm passionate about programming and improving lives through technology. I
        like learning new things that can help me to improve my skills and
        knowledge.
      </p>

      <p>
        I started coding when I was 14 years old, creating a Discord bot for
        personal purposes. Then I discovered my love in Web Development, learning
        as much HTML, CSS, and JavaScript as I can, then looking at Front-end
        frameworks like Vue and React.
      </p>
      
      <p>
        Now, I'm studying to become a Systems Engineer at the university, while
        keep learning about Web Development and other technologies in the
        Internet.
      </p>
      
    </div>

    <img
      src="/assets/douglas-bg.jpg"
      alt="Douglas Lovera smiling"
      loading="lazy"
      width="200"
      height="200"
      class="order-1 md:order-2 w-64 h-full object-cover bg-brand shadow-outline"
    >
  </div>
</section>
