---
import HomeSection from "../../layouts/HomeSection.astro";
import AboutSection from "../SocialMedia/AboutSection.astro";

---

<HomeSection title="About" icon="ph-person">
  <div class="about">
    <h2>👋 My name is Douglas Lovera...</h2>
    <p>
      I'm passionate about programming and improving lives through technology.
      I like learning new things that can help me to improve my skills and knowledge. 
    </p>
    <p>
      I started coding when I was 14 years old, creating a Discord bot for 
      personal purposes. Then I discovered my love in Web Development,
      learning as much HTML, CSS, and JavaScript as I can, then looking at
      Front-end frameworks like Vue and React.
    </p>
  
    <p>
      Now, I'm studying to become a Systems Engineer at the university,
      while keep learning about Web Development and other technologies in the 
      Internet.
    </p>
    <div class="social-links">
      <AboutSection />
    </div>
  </div>
</HomeSection>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1.8rem 2rem;
    font-size: 1.4rem;
    line-height: 180%;
    background-color: var(--bg-secondary);
    border-radius: 8px;
  }

  .social-links {
    margin-top: 2rem;
  }
</style>