.resume__button {
  grid-area: resume;
  margin: auto auto;
  font-size: 1.4rem;
}
.resume__button a {
  padding: 10px 25px;
  border-radius: 3px;
  text-decoration: none;
  background: rgb(57, 74, 153);
  background: linear-gradient(
    90deg,
    rgba(57, 74, 153, 1) 29%,
    rgba(31, 41, 82, 1) 82%
  );
  color: #fff;
  font-weight: bold;
}

@media (max-width: 460px) {
  .resume__text {
    display: none;
  }
}
