---
import Header from '../components/Header/Header.astro';
import WelcomeCard from '../components/WelcomeCard/index.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Header />
	<main>
		<WelcomeCard />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
	}
</style>
