---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/header.astro";
import Experience from "../components/experience/experience.astro";
import Projects from "../components/projects/projects.astro";
import About from "../components/About/index.astro";
import Certificates from "../components/Certificates/index.astro";
import Footer from "../components/Footer/index.astro";
import Hero from "../components/hero/hero.astro";

---

<Layout>
  <Header />
  <main class="max-w-[768px] mx-auto px-2">
    <Hero /> 
    <Experience />
    <Projects />
    <!-- <div>
      <About />
    </div> -->
    <!-- <Certificates /> -->
  </main>
  <!-- <Footer /> -->
</Layout>
