---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/header.astro";
import Experience from "../components/experience/experience.astro";
import Projects from "../components/projects/projects.astro";
import About from "../components/about/about.astro";
import Footer from "../components/footer/footer.astro";
import Hero from "../components/hero/hero.astro";

---

<Layout>
  <Header />
  <main class="max-w-[768px] mx-auto px-2 mb-20">
    <Hero /> 
    <Experience />
    <Projects />
    <About />
  </main>
  <Footer />
</Layout>
