---
import SocialNetwork from "../shared/social-network.astro";
import Dropdown from "../shared/dropdown.astro";

const navbarItems = [
  'experience',
  'projects',
  'about',
  'contact'
]

---

<header class="flex justify-between h-14 max-h-[56px] max-w-[768px] mx-auto border-t-0 shadow-outline bg-gray-50">
  <SocialNetwork />

  <nav class="flex flex-1 justify-around">
    {
      navbarItems.map((item) => (
        <a
          href={`#${item}`}
          class="flex justify-center items-center w-auto h-full text-md uppercase font-bold text-black"
        >
          {item}
        </a>
      ))
    }
  </nav>

  <Dropdown
    label="English"
    options={[
      {
        label: 'English',
        value: 'en'
      },
      {
        label: 'Español',
        value: 'es'
      },
    ]}
  />

  <button class="flex justify-center items-center aspect-square text-2xl shadow-outline-no-left">
    <i class="ph:sun-dim"></i>
  </button>
</header>
