.main__section {
  height: auto;
  min-width: 320px;
  max-width: 900px;
  margin: 10px auto 0;
}

/* For Nav links */
.main__section::before {
  content: "";
  display: block;
  height: 50px;
  margin: -30px 0 0;
}

.main__section__title {
  margin: 25px 0 15px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 2.2rem;
  font-weight: bold;
}
