footer {
  margin-top: 90px;
  padding: 25px 0 0;
  height: 150px;
  min-width: 320px;
  background-color: var(--dark-primary);
}

footer .footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}

footer a {
  color: var(--color-anchor);
}

.footer__links {
  margin: 0 auto;
  font-size: 1.4rem;
}

.footer__links ul {
  display: flex;
  flex-wrap: wrap;
}

.footer__links li {
  padding: 3px 10px;
  list-style: none;
}

.footer__links a {
  text-decoration: underline;
}

.footer__links a:hover {
  text-decoration: none;
}

.footer__copyright {
  margin: 30px auto;
  text-align: center;
  font-size: 1.6rem;
}

@media (max-width: 550px) {
  .footer__links ul {
    display: flex;
    flex-direction: column;
  }
}
