---
import HomeSection from "../../layouts/HomeSection.astro";
import CertificateItem from "./CertificateItem.astro";
import certificates from "./certificates";
---

<HomeSection title="Certificates" icon="ph-exam">
  <div class="certificates-container">
    {
      certificates.map((item) => (
        <CertificateItem
          name={item.name}
          platform={item.platform}
          platformUrl={item.platformUrl}
          url={item.url}
        />
      ))
    }
  </div>
</HomeSection>

<style>
  .certificates-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    justify-content: space-between;
    gap: 2rem;
  }
</style>
