---
const { from, to, company, role, description, isCurrent } = Astro.props;
---

<article class="experience-container">
  <div class="experience-company">
    <div>
      <img src="/assets/rhinolabs.jpg" alt="Rhinolabs Company logo" class={isCurrent ? '' : ' old'}>
    </div>
    <div>
      <h3>{company}</h3>
      <p class="company-time">{from} - {to || "Present"}</p>
    </div>
  </div>
  <div class="experience-description">
    <span class="company-role">{role}</span>
    <p>{description}</p>
  </div>
</article>

<style>
  .experience-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0 4rem;
    margin-bottom: 4rem;
    font-size: 1.6rem;
  }

  h3 {
    font-weight: 700;
    color: var(--font-secondary);
  }

  .experience-company {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 24%;
  }

  .experience-company img {
    width: 4rem;
    height: 4rem;
    margin-top: .5rem;
    border-radius: 2px;
  }
  
  .experience-company img.old {
    filter: grayscale(100%);
  }

  .experience-container h3 {
    font-size: 2rem;
  }

  .experience-container .company-role {
    display: block;
    margin-bottom: 0.8rem;
    color: var(--font-primary);
    font-size: 1.4rem;
    font-weight: 400;
    font-family: monospace;
  }

  .experience-content p {
    font-size: 1.4rem;
  }

  .experience-content {
    flex: 1;
    background-color: var(--bg-secondary);
    padding: 1.4rem;
    border-radius: 8px;
  }

  @media screen and (max-width: 767px) {
    .experience-container {
      flex-direction: column;
      gap: 2rem 0;
    }
  }
</style>
