.certificates-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
  justify-content: space-around;
  gap: 2rem;
}

.certificate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: var(--bg-secondary);
}

.certificate-title h3 {
  max-width: 19ch;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
}

.certificate-title p a {
  color: var(--font-primary);
  text-decoration: none;
}

.certificate-title p {
  font-size: 1.6rem;
  font-weight: normal;
}

body.light-theme .certificate-buttons a {
  filter: invert(1);
}

.certificate-c__platzi a {
  color: #98ca3f !important;
}