footer {
  position: relative;
  min-height: 120px;
  padding: 2rem 3rem;
  background-color: var(--bg-secondary);
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px 30px;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  font-size: 1.8rem;
}

.footer-links a {
  color: var(--font-primary);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

footer img {
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  width: 40px;
  border-radius: 6px 6px 0 0;
}