header {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  font-size: 2rem;
  background-color: var(--bg-blur);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header-cv {
  padding: 5px 10px;
  font-size: 1.4rem;
}

.header-cv .curriculum {
  display: block;
  padding: 1rem 2rem;
  background-color: var(--bg-gradient);
  border-radius: 8px;
}

header a {
  color: var(--font-secondary);
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-action_buttons {
  width: 30px;
}

.header-open_nav {
  display: none;
}

.header-nav-logo {
  height: 45px;
  width: 45px;
  color: var(--font-primary);
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--bg-primary);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.header-action_buttons #toggle-theme{
  background: none;
  border: 0;

}
  
@media screen and (max-width: 600px) {
  .header-container {
    display: none;
  }
  
  .header-container .header-nav-logo {
    display: none;
  }

  .header-open_nav {
    display: block;
  }

  .header-nav {
    flex-direction: column;
    width: 100%;
  }

  .header-nav a {
    width: 100%;
    text-align: center;
  }
  
  .header-cv {
    width: 100%;
    padding: 0 4rem;
    text-align: center;
  }

  .header-cv .curriculum {
    display: block;
    width: 100%;
    padding: 1rem 0;
  }

  .header-container.header-open {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width: 230px;
    padding: 2rem 0 3rem;
    background-color: var(--bg-secondary);
    border-radius: 10px;
  }

  .header-nav-logo::after {
    content: '>';
    position: absolute;
    bottom: 8px;
    transform: rotate(270deg);
  }

  .header-container.header-open ~ .header-nav-logo::after {
    transform: rotate(90deg);
  }
}