span.icon {
  height: 3rem;
  width: 3rem;
  border-radius: 12px;
}

span.icon-github {
  display: inline-block;
  background-image: url('/assets/icons/github.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-linkedin {
  display: inline-block;
  background-image: url('/assets/icons/linkedin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-twitter {
  display: inline-block;
  background-image: url('/assets/icons/twitter.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-html {
  display: inline-block;
  background-image: url('/assets/icons/html.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-css {
  display: inline-block;
  background-image: url('/assets/icons/css.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-js {
  display: inline-block;
  background-image: url('/assets/icons/js.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-ts {
  display: inline-block;
  background-image: url('/assets/icons/ts.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-react {
  display: inline-block;
  background-image: url('/assets/icons/react.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

span.icon-bootstrap {
  display: inline-block;
  background-image: url('/assets/icons/bootstrap.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
