.section-projects {
  max-width: 700px;
  margin: 0 auto;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  justify-content: space-around;
  gap: 4rem 2rem;
}

.project {
  height: 300px;
  width: 100%;
  font-size: 2.2rem;
  text-align: center;
}

.project-content h4 {
  color: var(--font-secondary);
}

.project-image__container img {
  max-height: 160px;
  width: 100%;
  outline: 2px solid var(--font-primary);
  border-radius: 8px;
  object-fit: cover;
}

.project-links {
  display: flex;
  gap: 0 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.project-links a {
  padding: 2px 10px;
  color: var(--font-primary);
  font-size: 1.8rem;
  text-decoration: none;
  border: 2px solid var(--font-primary);
  border-radius: 8px;
}

.project-links a:hover {
  background-color: var(--bg-blur);
}
