.main__aboutme {
  display: flex;
  flex-wrap: wrap;
  margin: 90px auto 0;
  padding: 25px;
  height: auto;
  min-height: 225px;
  max-width: 550px;
  width: 80%;
  min-width: 280px;
  background-color: var(--dark-primary);
  border-radius: 10px;
}

.main__aboutme__picture {
  margin: auto;
  text-align: center;
}

.main__aboutme__img {
  height: 160px;
  width: 160px;
  background: rgb(57, 74, 153);
  background: linear-gradient(
    90deg,
    rgba(57, 74, 153, 1) 29%,
    rgba(31, 41, 82, 1) 82%
  );
  border-radius: 50%;
}

.main__aboutme__text {
  margin: auto;
  min-width: 230px;
  text-align: center;
}

.main__aboutme__title {
  font-size: 2.8rem;
  font-family: "Merriweather", serif;
  font-weight: 700;
}

.main__aboutme__contact {
  width: 160px;
  padding: 6px 0 0;
  margin: 10px auto 10px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--dark-font);
}

.main__aboutme__contact .icon {
  width: 30px;
  height: 30px;
  padding: 5px 0 25px;
  border-bottom: 5px solid transparent;
}

.main__aboutme__contact i {
  font-size: 2.4rem;
  color: var(--dark-font);
}

.main__aboutme__contact .icon:hover {
  border-bottom: 5px solid var(--color-anchor);
}
